<a href="https://colab.research.google.com/github/YNNJN/colorPool_Data/blob/master/%EA%B8%B0%EC%A4%80%ED%96%89%EB%A0%AC%EC%83%9D%EC%84%B1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 기준행렬 K 생성
- 기준 행렬이란 조화관계 예측 위한 기준 데이터임
- 즉 각 테마가 어떤 색채를 포함하는지를 나타내는 색채-테마 관계 기준 행렬임
- N X M 행렬
    - N
        - 표본 색채 수(7234)
    - M
        - 테마 수(3000)
    - value
        - 표본 색채가(행)이 테마(열)에 포함될 경우 해당 테마의 rating 값
        - 포함되지 않을 경우 0

In [1]:
!git clone https://github.com/YNNJN/colorPool_Data.git

Cloning into 'colorPool_Data'...
remote: Enumerating objects: 36, done.
remote: Counting objects: 100% (36/36), done.
remote: Compressing objects: 100% (33/33), done.
remote: Total 36 (delta 19), reused 5 (delta 0), pack-reused 0
Unpacking objects: 100% (36/36), done.

In [2]:
!ls -ltr

total 8
drwxr-xr-x 1 root root 4096 Sep 14 16:31 sample_data
drwxr-xr-x 3 root root 4096 Sep 17 01:13 colorPool_Data

In [3]:
# connect to google drive

from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [4]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

data = pd.read_csv('gdrive/My Drive/colorPOOL/kulerData/quantize.csv')
data = data.drop([data.columns[0]], axis=1)
data

        L   a   b
0      36  18  30
1       6   3   3
2      72  33  81
3      42  69  63
4      99   0  36
...    ..  ..  ..
14995  75 -36  27
14996  18   0   3
14997  66 -24  69
14998  72  36  69
14999  33   3 -12

[15000 rows x 3 columns]

## 1) 표본 색채 (row)

In [5]:
# 표본 색채 설정 위해 중복되는 컬러 삭제
# 결과 : 7234개 컬러

colorData = data.drop_duplicates()
colorData = colorData.reset_index(drop=True)
colorData

       L   a   b
0     36  18  30
1      6   3   3
2     72  33  81
3     42  69  63
4     99   0  36
...   ..  ..  ..
7229  66  42  69
7230  21  12  30
7231  81   6  30
7232  75 -36  27
7233  66 -24  69

[7234 rows x 3 columns]

## 2) 표본 배색 (column)

In [6]:
# 데이터프레임 형태 변환 15000*3 => 3000*15

df1 = data[:3000].reset_index(drop=True).rename(columns={"L":'L1',"a":'a1',"b":'b1'})
df2 = data[3000:6000].reset_index(drop=True).rename(columns={"L":'L2',"a":'a2',"b":'b2'})
df3 = data[6000:9000].reset_index(drop=True).rename(columns={"L":'L3',"a":'a3',"b":'b3'})
df4 = data[9000:12000].reset_index(drop=True).rename(columns={"L":'L4',"a":'a4',"b":'b4'})
df5 = data[12000:15000].reset_index(drop=True).rename(columns={"L":'L5',"a":'a5',"b":'b5'})

df_all = pd.concat([df1,df2,df3,df4,df5], axis=1).reset_index(drop=True)
df_all

      L1  a1  b1  L2  a2  b2  L3  a3  b3  L4  a4  b4  L5  a5  b5
0     36  18  30  57   6  48  51   0  27  30   0  21  30   0  21
1      6   3   3  96   3  18  87  -6  30  84 -15  36  84 -15  36
2     72  33  81  57  54  60  75 -15  81  63 -30  66  63 -30  66
3     42  69  63  54  -6 -24  48  75   0  33  18  33  33  18  33
4     99   0  36  81   6  24  63  45  60  48  39  45  48  39  45
...   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
2995  54  54  12  99  -6  66  96 -24  24  75 -36  27  75 -36  27
2996  60   6  69  96   3  18  93  -3  72  18   0   3  18   0   3
2997  48  75  66  60  45  72  75  30  84  66 -24  69  66 -24  69
2998   6  18   9  33  45  48  60  45  63  72  36  69  72  36  69
2999  78   0  -9  66   0 -12  48   6 -18  33   3 -12  33   3 -12

[3000 rows x 15 columns]

## 3) rating 데이터 (value)

In [7]:
data = pd.read_csv('gdrive/My Drive/colorPOOL/kulerData/matrixData.csv')

ratingData = data.loc[:, ['rating']]
idData = data.loc[:, ['id']]
nameData = data.loc[:, ['name']]

matrixData = pd.concat([df_all, ratingData], axis=1)
matrixData

      L1  a1  b1  L2  a2  b2  L3  a3  b3  L4  a4  b4  L5  a5  b5  rating
0     36  18  30  57   6  48  51   0  27  30   0  21  30   0  21     5.0
1      6   3   3  96   3  18  87  -6  30  84 -15  36  84 -15  36     5.0
2     72  33  81  57  54  60  75 -15  81  63 -30  66  63 -30  66     5.0
3     42  69  63  54  -6 -24  48  75   0  33  18  33  33  18  33     5.0
4     99   0  36  81   6  24  63  45  60  48  39  45  48  39  45     5.0
...   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..     ...
2995  54  54  12  99  -6  66  96 -24  24  75 -36  27  75 -36  27     4.0
2996  60   6  69  96   3  18  93  -3  72  18   0   3  18   0   3     4.0
2997  48  75  66  60  45  72  75  30  84  66 -24  69  66 -24  69     4.0
2998   6  18   9  33  45  48  60  45  63  72  36  69  72  36  69     4.0
2999  78   0  -9  66   0 -12  48   6 -18  33   3 -12  33   3 -12     4.0

[3000 rows x 16 columns]

## 4) 기준 행렬 생성
- 색채-테마 관계 기준 행렬
    - row : 표본 색채를
    - column : 테마(배색)
- 테마가 어떤 색채를 포함하는지를 나타냄
    - 포함하는 경우 rating의 value를 가짐
- sparse matrix 이므로
    - item based collaborative filtering을 통해
    - 전체 색과 테마 색의 유사도를 이용해 matrix의 빈칸을 채워야 함

In [8]:
result = [[] for _ in range(7234)]

for i in range(len(colorData)):
    for j in range(len(matrixData)):
        rating = 0
        for k in range(5):
            if colorData['L'][i] == matrixData.iloc[j,k] and colorData['a'][i] == matrixData.iloc[j, k+1] and colorData['b'][i] == matrixData.iloc[j,k+2]:
                rating = matrixData['rating'][j]
                break
        result[i].append(rating)

In [9]:
# 컬럼 명 설정을 위해 nameData의 type :  DF -> list 변환

id = list(np.array(idData['id'].tolist()))

In [10]:
matrix = pd.DataFrame(data=result, columns=id)
matrix

      872770.0  642440.0  619900.0  ...  484000.0  484050.0  484080.0
0          5.0       0.0       0.0  ...       0.0       0.0       0.0
1          0.0       5.0       0.0  ...       0.0       0.0       0.0
2          0.0       0.0       5.0  ...       0.0       0.0       0.0
3          0.0       0.0       0.0  ...       0.0       0.0       0.0
4          0.0       0.0       0.0  ...       0.0       0.0       0.0
...        ...       ...       ...  ...       ...       ...       ...
7229       0.0       0.0       0.0  ...       0.0       0.0       0.0
7230       0.0       0.0       0.0  ...       0.0       0.0       0.0
7231       0.0       0.0       0.0  ...       0.0       0.0       0.0
7232       0.0       0.0       0.0  ...       0.0       0.0       0.0
7233       0.0       0.0       0.0  ...       0.0       0.0       0.0

[7234 rows x 3000 columns]

In [11]:
matrix.to_csv('gdrive/My Drive/colorPOOL/kulerData/referenceMatrix.csv')