<a href="https://colab.research.google.com/github/YNNJN/colorPool_Data/blob/master/%EA%B8%B0%EC%A4%80%ED%96%89%EB%A0%AC%EC%83%9D%EC%84%B1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 기준행렬 K 생성
- 기준 행렬이란 조화관계 예측 위한 기준 데이터임
- 즉 각 테마가 어떤 색채를 포함하는지를 나타내는 색채-테마 관계 기준 행렬임
- N X M 행렬
    - N은 표본 색채 수(7234), M은 표본 배색 수(3000)
    - 행렬의 value는 rating

In [ ]:
!git clone https://github.com/YNNJN/colorPool_Data.git

In [ ]:
!ls -ltr

In [ ]:
# connect to google drive

from google.colab import drive
drive.mount('/content/gdrive')

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

data = pd.read_csv('gdrive/My Drive/colorPOOL/kulerData/quantize.csv')
data = data.drop([data.columns[0]], axis=1)
data

## 1) 표본 색채 (행)

In [5]:
# 표본 색채 설정 위해 중복되는 컬러 삭제
# 결과 : 7234개 컬러

colorData = data.drop_duplicates()
colorData

        L   a   b
0      36  18  30
1       6   3   3
2      72  33  81
3      42  69  63
4      99   0  36
...    ..  ..  ..
11987  66  42  69
11991  21  12  30
11993  81   6  30
11995  75 -36  27
11997  66 -24  69

[7234 rows x 3 columns]

## 2) 표본 배색 (열)

In [ ]:
# 데이터프레임 형태 변환 15000*3 => 3000*15

df1 = data[:3000].reset_index(drop=True).rename(columns={"L":'L1',"a":'a1',"b":'b1'})
df2 = data[3000:6000].reset_index(drop=True).rename(columns={"L":'L2',"a":'a2',"b":'b2'})
df3 = data[6000:9000].reset_index(drop=True).rename(columns={"L":'L3',"a":'a3',"b":'b3'})
df4 = data[9000:12000].reset_index(drop=True).rename(columns={"L":'L4',"a":'a4',"b":'b4'})
df5 = data[12000:15000].reset_index(drop=True).rename(columns={"L":'L5',"a":'a5',"b":'b5'})

df_all = pd.concat([df1,df2,df3,df4,df5], axis=1).reset_index(drop=True)
df_all